body {
	margin: 0;
	padding: 0;
	background: #30891B url(images/img01.png) repeat;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	color: #8F8F8F;
}
.twitterlink {
	position: fixed;
	top: 10%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	border-right: 1px dashed #d6782a;
	border-top: 1px dashed #d6782a;
	border-bottom: 1px dashed #d6782a;
	height: 50px;
	width: 50px;
}
.twitterlink .img {
	background:url(images/twittericon.png);
	height: 32px;
	width: 32px;
	margin: 8px 0px 0px 8px;
	z-index: 101;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Sanchez', serif;
	font-weight: 200;
	color: #d6782a;
}

p, ol, ul {
	margin: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

strong {
}

a {
	color: #d6782a;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 80px;
}

#header {
	width: 1000px;
	height: 180px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 425px;
	height: 80px;
	margin: 0px;
	padding: 0px;
}

#logo h1 {
	padding: 170px 0px 0px 0px;
	background: url(images/logo2.png) no-repeat left 50%;
	letter-spacing: -2px;
}

#logo h1 a {
	text-decoration: none;
	color: #d6782a;
}

/* Menu */
#menu {
	float: right;
	width: 575px;
	height: 80px;
}

#menu ul {
	float: right;
	margin-top:50px;
	padding: 15px;
	list-style: none;
	line-height: normal;
	background-color: rgba(214, 120, 42, 0.8);
}

#menu li {
	float: left;
	
}

#menu a {
	display: block;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #FFF;
}

#menu a:hover {
	background: #fff;
	color: #d6782a;
	text-decoration: none;
}

/* Page */

#page-wrapper {
	overflow: hidden;
	background:#F0FFF0;
	height: 100%;
	padding-top: 0px;
}
#page {
	width: 1000px;
	height: 480px;
	margin: 0px auto;
	padding: 50px 0px;
	color: #8F8F8F;
}

/** CONTENT */

#content {
	float: right;
	width: 660px;
	padding: 0px 0px 0px 0px;
}

#content h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 27px;
	color: #d6782a;
}

#content .subtitle {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #81AFC5;
}


/** SIDEBARS */

#sidebar {
	float: left;
	width: 290px;
	padding: 0px 0px 20px 0px;
}

#sidebar h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 2em;
}
#sidebar2 {
	float: left;
	width: 300px;
	padding: 0px 0px 20px 0px;
}


/* Footer */

#footer {
	height: 70px;
	border-top: 1px solid #d6782a;
	margin: 0 auto;
	padding: 50px 0px 15px 0px;
	font-family: 'Abel', sans-serif;
}

#footer p {
	margin: 0;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #555;
}

#footer a {
	text-decoration: underline;
	color: #d6782a;
}


/* Three Column Footer Content */

#footer-wrapper {
	background:#F0FFF0;
	height: 100%;
	padding-top: 0px;
}

#footer-content {
	overflow: hidden;
	width: 1000px;
	height: 700px;
	margin: 0px auto;
	padding: 30px 0px 0px 0px;
	color: #717171;
}

#footer-content a {
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 26px;
	color: #B5B5B5;
}

#footer-content h2 span {
	color: #d6782a;
}


#footer-content #fbox1 {
	float: left;
	width: 320px;
	margin-right: 20px;
}

#footer-content #fbox2 {
	float: left;
	width: 320px;
}

#footer-content #fbox3 {
	float: right;
	width: 320px;
}

/* Banner Style */

#banner-wrapper {
	overflow: hidden;
	height: 450px;
	margin: 0px 0px 0px 0px;
	background-color: rgba(214, 120, 42, 0.8);
}

#banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
}

/* Button Style */

.button-style {
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	background: #d6782a;
	border-radius: 5px;
}

.button-style a {
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

/* List Style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px dashed #E6E7DC;
}

ul.style1 a {
	text-decoration: none;
	color: #6B6B6B;
}

ul.style1 a:hover {
	text-decoration: underline;
	color: #6B6B6B;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 9px 0px 9px 0px;
	border-top: 1px dashed #E6E7DC;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}
ul.style2 a {
	text-decoration: none;
	color: #6B6B6B;
}

ul.style2 a:hover {
	text-decoration: underline;
	color: #6B6B6B;
}

/* List style 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 20px 0px;
	background: url(images/link-style1-divider.png) repeat-x left top;
}

ul.style3 p {
	margin: 0px;
	padding: 0px;
}

ul.style3 img {
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

ul.style3 .posted {
	padding: 10px 0px 0px 0px;
	font-size: 8pt;
	color: #A2A2A2;
}

ul.style3 .first {
	padding-top: 0px;
	background: none;
}
.aboutpic {
	width: 100%;
	height: 310px;
	background: url(images/aboutpic.jpg) no-repeat 78% 80%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.textinner {
	border: 1px dashed #E6E7DC;
	padding: 5px;
	margin-top: 10px;
}
.sidepic {
	width: 100%;
	height: 200px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

ul.sidepics li {
	width: 100%;
	height: 280px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}
ul.sidepics2 li {
	background: url(images/tristan.jpg) no-repeat 58% 80%;
	width: 100%;
	height: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}
.aboutus {
	width: 100%;
	height: 300px;
	background: #000;
	float: left;
}
.contact {
	padding-bottom: 10px;
}
#contact {
	margin: 0 0 20px 20px;
}
#contacter h1 {
	color:#d6782a;
}
#aboutspacer {
	width: 100%;
	height: 0px;
	border-bottom: 3px solid #d6782a;
}
